<body style="height: 100%; background-color: #eeeeee; text-align: center;">
<div style="font-size: 40px; font-weight: bold;"><div style="margin-top: 20px; display: inline-block; margin-right: 20px;"><%= image_tag "cricketfever.png", :class => "cric-image" %></div><div>CricketFever App</div></div>
  <div style="margin-top: 100px;"><%= link_to image_tag("play.png", :class => "play-image"), "https://play.google.com/store/apps/details?id=com.crictfever.crictfever" %></div>
</body>

<style type="text/css">
  .play-image {
    width: 400px;
  }
  .cric-image {
    width: 150px;
  }
</style>